@use '../../../../mixins' as *;

.app-header {
    background-color: #fff !important;
    padding: 1rem 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    margin-top: 20px;
    margin-inline-end: 27px;
    @include card-style;
  .user-info {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .user-name {
      font-size: 0.95rem;
      font-weight: 500;
    }

    .btn-outline-light {
      border-color: rgba(255, 255, 255, 0.5);
      
      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
        border-color: #fff;
      }
    }

    .logout-btn {
      color: var(--primary-green);
      border-color: var(--primary-green);
      
      &:hover {
        background-color: var(--primary-green);
        color: white;
        border-color: var(--primary-green);
      }
    }
  }
}
