@use "../../../mixins" as *;

.dashboard {
  padding: 20px;

  h2 {
    margin-bottom: 30px;
    color: #333;
  }

  .cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    margin-top: 20px;
  }

  .card {
    padding: 20px;
    @include card-style;
    background: white;
    transition: all 0.3s ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 15px;
    flex-direction: row;
    justify-content: space-between;
    .pi-arrow-left {
      display: none;
    }
    .card-content {
      display: flex;
      justify-content: space-between;
      gap: 20px;
    }
    &:hover {
      background: var(--primary-green);
      box-shadow: 0 8px 20px rgba(11, 110, 58, 0.3);
      transform: scale(1.05);
      transition: transform 0.3s ease-in-out;
      .pi-arrow-left {
        display: block;
        color: white;
      }
      .card-icon-wrapper {
        background: white;
        color: var(--primary-green);
      }

      .card-info {
        .count,
        h3 {
          color: white;
        }
        h3 {
          margin-bottom: 10px;
        }
      }
    }

    .card-icon-wrapper {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--primary-green);
      flex-shrink: 0;
      color: white;
      transition: all 0.3s ease-in-out;

      .card-icon {
        font-size: 1.8rem;
      }
    }

    .card-info {
      flex: 1;
      text-align: right;

      .count {
        margin: 0;
        font-size: 1.75rem;
        font-weight: 700;
        color: var(--primary-green);
        line-height: 1.2;
        transition: color 0.3s  ease-in-out;
      }

      h3 {
        margin: 4px 0 0 0;
        font-size: 1rem;
        font-weight: 500;
        color: var(--primary-green);
        transition: color 0.3s  ease-in-out;
      }
    }
  }
}
