<div class="page-header">
  <button class="add-button" (click)="showDialog()">+ إضافة موظف</button>
</div>
<app-table 
  [columns]="columns" 
  [data]="data"
  (edit)="onEdit($event)"
  (delete)="onDelete($event)"
></app-table>
<app-confirmation-dialog></app-confirmation-dialog>

<app-dialog 
  [(visible)]="visible" 
  [width]="'500px'"
  [height]="'540px'"
  [draggable]="false"
  (onHide)="onDialogHide()"
  [header]="editingEmployeeId ? 'تعديل موظف' : 'إضافة موظف'">
  
  <div class="form-container">
    <div class="form-group">
      <label>الاسم</label>
      <input 
        type="text" 
        pInputText
        class="full-width"
        [(ngModel)]="newEmployee.name"
        placeholder="أدخل اسم الموظف" />
    </div>

    <div class="form-group">
      <label>رقم الهاتف</label>
      <input 
        type="text" 
        pInputText
        class="full-width"
        [(ngModel)]="newEmployee.phone"
        placeholder="ادخل رقم الهاتف"
        maxlength="11" />
      <span class="error-message" *ngIf="phoneError">{{ phoneError }}</span>
    </div>

    <div class="form-group">
      <label>الوظيفة</label>
      <input 
        type="text" 
        pInputText
        class="full-width"
        [(ngModel)]="newEmployee.position"
        placeholder="مثال: بائع، محاسب، مدير" />
    </div>
  </div>

  <div dialog-footer class="dialog-footer">
      <p-button 
        label="إلغاء" 
        severity="secondary" 
        (onClick)="closeDialog()"
        [text]="true">
      </p-button>
      <p-button 
        [label]="editingEmployeeId ? 'تعديل' : 'حفظ'"
        (onClick)="saveEmployee()">
      </p-button>
    </div>
</app-dialog>
